$main-color: #56c4e1;


body {
  background-color: #1a1a1a;
  color: #fff;
  box-sizing: border-box;
}

.App {
  max-width: 1280px;
  padding: 0 20px;
  display: flex;
  column-gap: 40px;
  justify-content: center;

}

.counter {
  padding: 12px;
  border: 1px solid $main-color;
  width: 220px;
  height: 160px;
  margin-top: 100px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  &__value {
    border: 1px solid $main-color;
    border-radius: 8px;
    background-color: #383737;
    padding: 0 15px;

  }

  &__buttons {
    height: 40px;
    display: flex;
    column-gap: 5px;
    justify-content: center;
    align-items: center;
    border: 1px solid $main-color;
    border-radius: 8px;
    background-color: #383737;
  }
}

.btn {
  width: 80px;
  height: 25px;
  cursor: pointer;
  border: none;
  color: #fff;
  background-color: transparent;
  border: 1px solid #3d6e81;
  border-radius: 3px;
  transition: 0.2s ease;

  &:hover {
    color: #afabab;
    background-color: rgba(158, 227, 220, 0.44);
  }
}

.setting-inputs {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  row-gap: 10px;
  label {
    display: flex;
    justify-content: space-between;

  }
  input {
    max-width: 100px;

    outline: none;
    border: none;
    border: 1px solid $main-color;
    border-radius: 3px;
  }

}

